.purple{
    background-color: purple;
}
.skyblue{
    background-color: skyblue;
}
.seagreen{
    background-color: seagreen;
}
.slategray{
    background-color: slategray;
}
.springgreen{
    background-color: springgreen;
}
.bold{
    font: bold;
}